@media screen and (max-width:920px){
    .background{
        width: calc(100% - 2%);
        margin: 0 auto;
        border-radius: 10px;
        &__img {
            width: calc(100%);
            margin: 0 auto !important;
            border-radius: 10px;
        }h2 {
            margin-left: 1em;
            width: 40%;
            align-items: center;
            font-size: 3.2vw;
        }
        
    }
}


