
@media screen and (max-width:720px){
    .footer {
        margin-top: 24em;
        &__text {
                margin-bottom: 1em;
            p {
                font-size: 10px;
                
            }
        }
    }

}