@media screen and (max-width:769px){
    .Container {
        .img {
            display: none !important;
            border: 1px solid black;
        }
        .img-responsive {
            object-fit: contain !important;
            display: block !important;
        }
    }
}
