.propos-open {
    width: 97%;
    max-width: 1240px;
    margin: 0 auto;
    box-sizing: content-box;
    &__box {
        border: 1px solid transparent;
        width: 90%;
        margin: 3em auto;
        position: relative;
        background: #F7F7F7;
        border-radius: 5px;
        align-items: center;
        box-sizing: border-box;
        p {
            display: flex;
            width: 96%;
            margin: 3em auto;
            align-items: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 142.6%;
            color: #FF6060;

        }
        .propos {
            position: absolute;
            margin: 0 auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            &__box {
                display: flex;
                margin: 0 auto;
                padding: 1em;
                height: 10px;
                justify-content: space-between;
                background: #FF6060;
                border-radius: 5px;
                align-items: center;
                h3 {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 100;
                    font-size: 20px;
                    line-height: 142.6%;
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
                button {
                    background: none;
                    border: none;
                    color: white;
                    align-items: center;
                    font-size: 45px;
                    margin-top: 0.3em;
                }
            }
            
        }
    }
}


.propos-close {
    width: 97%;
    max-width: 1240px;
    margin: 0 auto;
    &__box {
        border: 1px solid transparent;
        width: 90%;
        margin: 3em auto;
        position: relative;
        background: #F7F7F7;
        border-radius: 5px;
        p {
            display: flex;
            width: 96%;
            align-items: center;
            margin: 3em auto;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 142.6%;
            color: #FF6060;
        }
        .propos {
            position: absolute;
            margin: 0 auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            &__box {
                display: flex;
                margin: 0 auto;
                padding: 1em;
                height: 10px;
                justify-content: space-between;
                background: #FF6060;
                border-radius: 5px;
                align-items: center;
                h3 {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 100;
                    font-size: 20px;
                    line-height: 142.6%;
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
                button {
                    background: none;
                    border: none;
                    color: white;
                    align-items: center;
                    font-size: 45px;
                    margin-top: 0.3em;
                }
            }
            
        }
    }
}