@media screen and (max-width:760px){
    .section {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        h1 {
            font-size: 80pt;
            align-items: center;
            margin-top: 1em;
        }
        p {
            margin: 0;
            font-size: 13pt;
            line-height: 142.6%;
            text-align: center;
            width: 260px;
            height: 52px;
            white-space: break-spaces;
            display: flex;
            align-items: flex-end;
            text-align: center;
        }
        ul {
            padding: 0;
        }
        &__link {
            margin-top: 5em;
            width: 100%;
            font-size: 10pt;
            display: flex;
            justify-items:center;
            text-align-last: center;
        }
    }

}